*
  box-sizing: border-box
a
  text-decoration: none
ul
  list-style: none
h1,h2,h3,h4,h5,h6,p,ul
  margin: 0
  padding: 0
.container
  max-width: 1180px
  margin: auto
.button
  padding: 12px 61.5px
  background-color: $pink
  border-radius: 5px
  outline: none
  border: none
  color: #fff
  width: fit-content
  font-family: $light
  font-size: 14px
  text-align: center
