$pink: #C8325A
$blue: #3C9CC8
$yellow: #FECC00
$yellow-hover: #FFDC4E
$medium: 'Lato-Medium', sans-serif
$regular: 'Lato-Regular', sans-serif
$semi: 'Lato-SemiBold', sans-serif
$bold: 'Lato-Bold', sans-serif
$Nato-bold: 'Noto Sans', sans-serif
